# --- Python general ---
*.pyc
*.pyo
*.pyd
__pycache__/
*.py[cod]
*$py.class

# --- Virtual environments ---
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
myvenv/

# --- Django ---
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# --- Flask ---
instance/
.webassets-cache

# --- Scrapy ---
.scrapy

# --- Sphinx documentation ---
docs/_build/

# --- PyBuilder ---
.pybuilder/
target/

# --- Jupyter Notebook ---
.ipynb_checkpoints

# --- IPython ---
profile_default/
ipython_config.py

# --- Celery ---
celerybeat-schedule
celerybeat.pid

# --- SageMath ---
*.sage.py

# --- PyCharm / JetBrains IDEs ---
.idea/
*.iml

# --- VSCode ---
.vscode/

# --- mypy, Ruff, Pyre, pytype ---
.mypy_cache/
.dmypy.json
dmypy.json
.ruff_cache/
.pyre/
.pytype/

# --- PEP 582 ---
__pypackages__/

# --- PyPI config ---
.pypirc

# --- pipenv, poetry, pdm, uv ---
#Pipfile.lock
#poetry.lock
.pdm.toml
.pdm-python
.pdm-build/
#uv.lock

# --- Build directories ---
build/
bld/
[Bb]uild/
[Bb]in/
[Oo]bj/
artifacts/

# --- Visual Studio ---
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
Generated\ Files/
*.cache

# --- .NET specific ---
project.lock.json
project.fragment.lock.json

# --- ASP.NET Scaffolding ---
ScaffoldingReadMe.txt

# --- StyleCop ---
StyleCopReport.xml

# --- Other temporary files ---
/site

