{% extends 'layout.html' %}

{% block title %}
    <title>Confirmation Page</title>
{% endblock %}

{% block content %}
    <div class="container">
        <form class="border p-4 bg-light rounded" method="post">
            {% csrf_token %}
            <h4 class="mb-4">Are you sure you want to delete this data?</h4>
            <button type="submit" class="btn btn-danger">YES</button>
            <a href="{% url 'show_url' %}" class="btn btn-secondary">NO</a>
        </form>
    </div>
{% endblock %}
