{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Add Order</title>
{% endblock %}

{% block content %}
    <h1 class="text-center my-4">Order Form</h1>
    <div class="container">
        <form method="post" class="border p-4 bg-light rounded">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="text-right">
                <input type="submit" value="Place Order" class="btn btn-success">
            </div>
        </form>
    </div>
{% endblock %}
